#py cache
__pycache__/
*.py[cod]
#virt environments
venv/
.venv/
.venv311/
env/
#env var-s and tss secrets
.env
.envrc
#Jupyter
.ipynb_checkpoints/
#test+cache files
.pytest_cache/
.mypy_cache/
.ruff_cache/
.cache/
#logs
*.log
logs/
wandb/
#local db
*.sqlite3
db.sqlite3
db.sqlite3-journal
#model files and outputs
models/
outputs/
adapter/
checkpoints/
*.bin
*.pt
*.pth
*.safetensors
*.gguf
#datasets
data/raw/
data/processed/
data/final/
#OS/edit
.vscode/
.idea/
.vs/
.DS_Store
tempCodeRunnerFile.py
#archives
*.zip
results/